:root{
    --background-color: #FFF8E7;
    --white: #ffffff;
    --silva-color: #8F9371;
    --terra-color: #cc7f52;
    --aqua-color: #769299;
    --caelum-color: #B47278;
    --block-color: #394D44A8;
    --header-color: #394D44;
}

body {
    margin: 0;
}

header {
    position: sticky;
    background-color: var(--header-color);
    height: 68px;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

main {
    background-color: var(--background-color);
    margin: 0;
}

.hero {
    position: relative;
    width: 100%;
    height: 664px;
    background: lightgray url(img/hero/hero_index.jpg) center / 1024px 686px no-repeat;
}

.hero__textbox {
    position: absolute;
    box-sizing: border-box;
    height: fit-content;
    width: 95%;
    min-height: 60px;
    min-width: 373px;
    background-color: var(--block-color);
    border-radius: 0px 162px 162px 0px;
    padding: 30px 58px 20px 0px;
    top: 20px;
}

.hero__button {
    position: absolute;
    width: 146px;
    height: 50px;
    border-radius: 8px;
    background-color: var(--terra-color);
    left: calc(50vw - 73px);
    bottom: 100px;
    border: none;
    color: var(--white);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}