:root{
    --background-color: #FFF8E7;
    --silva-color: #8F9371;
    --terra-color: #cc7f52;
    --aqua-color: #769299;
    --block-color: #394D44;
}

header {
    position: sticky;
    background-color: var(--block-color);
    height: 68px;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}