:root{
    --background-color: #FFF8E7;
    --header-color: #394D44;
    --block-color: #394D44A8;
    --h2-color: #5F8299;
    --white: #ffffff;
    --black: #000000;
    --silva-color: #8F9371;
    --terra-color: #cc7f52;
    --aqua-color: #769299;
    --caelum-color: #B47278;
}

body {
    margin: 0;
}

header {
    position: sticky;
    background-color: var(--header-color);
    height: 68px;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

main {
    background-color: var(--background-color);
    margin: 0;
}

button {
    width: 146px;
    height: 50px;
    border-radius: 8px;
    background-color: var(--terra-color);
    border: none;
    color: var(--white);
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h1 {
    font-family: Didot, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    font-weight: 400;
    color: var(--white);
    text-align: left;
    margin-left: 5vw;
    margin-right: 5vw;
}

h2 {
    font-family: Aeonik, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: var(--h2-color);
    text-align: center;
}

h3 {
    font-family: Aeonik, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
    margin-left: 5vw;
    margin-right: 5vw;
}

p {
    font-family: Aeonik, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-left: 5vw;
    margin-right: 5vw;
}

.hero {
    position: relative;
    width: 100%;
    height: 664px;

    button {
        position: absolute;
        left: calc(50vw - 73px);
        bottom: 100px;
    }
}

.hero#index {
    background: lightgray url(img/hero/hero_index.jpg) center / 1024px 686px no-repeat;
}

.hero#ophold {
    background: lightgray url(img/hero/hero_ophold.jpg) center / 1024px 686px no-repeat;
}

.hero__textbox {
    position: absolute;
    box-sizing: border-box;
    height: fit-content;
    width: 95%;
    min-height: 60px;
    min-width: 373px;
    background-color: var(--block-color);
    border-radius: 0px 162px 162px 0px;
    padding: 30px 58px 20px 0px;
    top: 20px;
}

.textBox {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 664px;
    border-radius: 50vw 50vw 0px 0px;
    background: lightgray url(img/div/index_div_background.jpg) center / 1024px 686px no-repeat;

    button {
        position: absolute;
        left: calc(50vw - 73px);
        bottom: 100px;
    }
}

.textBox__text {
    position: absolute;
    top: 58px;
    margin-left: 74px;
    margin-right: 74px;
}

.tentDiv {
    position: relative;
    margin-top: 20px;
    width: 100%;
    border-radius: 50vw 50vw 0px 0px;
    overflow: hidden;
}

.tentDiv__img {
    height: 66vw;
    width: 100%;

    img {
        width: 100%;
        height: auto;
    }
}

.tentDiv__info {
    width: 90%;
    margin: 20px 5% 85px;
    padding-top: 72px;
    border-radius: 50% 50% 0px 0px;
    background-color: var(--white);

    h1 {
        color: var(--black);
        text-align: center;
    }
}

.tentDiv__facilities {
    display: grid;
    grid-template-areas: 
    'text text text'
    '1fr 1fr 1fr'
    '1fr 1fr 1fr';
    padding: 0 5%;

    p {
        grid-area: text;
        margin-left: 0;
        margin-right: 0;
    }

    div {
        font-family: Aeonik, Arial, Helvetica, sans-serif;
        font-size: 1rem;
    }
}

.tentDiv#silva {
    background-color: var(--silva-color);
}