:root{
    --background-color: #FFF8E7;
    --header-color: #394D44;
    --block-color: #394D44A8;
    --h2-color: #5F8299;
    --white: #ffffff;
    --black: #000000;
    --silva-color: #8F9371;
    --terra-color: #cc7f52;
    --aqua-color: #769299;
    --caelum-color: #B47278;
    --caulum-block-color: #B47278A8;
}

body {
    margin: 0;
}

header {
    position: sticky;
    background-color: var(--header-color);
    height: 68px;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

main {
    background-color: var(--background-color);
    margin: 0;
}

h1 {
    font-family: Didot, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    font-weight: 400;
    color: var(--white);
    text-align: left;
    margin-left: 5vw;
    margin-right: 5vw;
}

h2 {
    font-family: Aeonik, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: var(--h2-color);
    text-align: center;
}

h3 {
    font-family: Aeonik, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
    margin-left: 5vw;
    margin-right: 5vw;
}

p {
    font-family: Aeonik, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-left: 5vw;
    margin-right: 5vw;
}

.book {
    width: 146px;
    height: 50px;
    border-radius: 8px;
    background-color: var(--terra-color);
    border: none;
    color: var(--white);
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero {
    position: relative;
    width: 100%;
    height: 664px;

    button {
        position: absolute;
        left: calc(50vw - 73px);
        bottom: 100px;
    }
}

.hero#index {
    background: lightgray url(img/hero/hero_index.webp) center / 1024px 686px no-repeat;
}

.hero#ophold {
    background: lightgray url(img/hero/hero_ophold.webp) center / 1024px 686px no-repeat;
}

.hero#faciliteter {
    background: lightgray url(img/hero/hero_faciliteter.webp) center / 1024px 686px no-repeat;
}

.hero#oplevelser {
    background: lightgray url(img/hero/hero_oplevelser.webp) center / 1024px 686px no-repeat;
}

.hero__textbox {
    position: absolute;
    box-sizing: border-box;
    height: fit-content;
    width: 95%;
    min-height: 60px;
    min-width: 373px;
    background-color: var(--block-color);
    border-radius: 0px 162px 162px 0px;
    padding: 30px 58px 20px 0px;
    top: 24px;
}

.hero__textbox_caelum {
    position: absolute;
    box-sizing: border-box;
    height: fit-content;
    width: 95%;
    min-height: 60px;
    min-width: 373px;
    background-color: var(--caulum-block-color);
    border-radius: 0px 162px 162px 0px;
    padding: 30px 58px 20px 0px;
    top: 24px;
}

.textBox {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 664px;
    border-radius: 50vw 50vw 0px 0px;
    background: lightgray url(img/div/index_div_background.jpg) center / 1024px 686px no-repeat;

    button {
        position: absolute;
        left: calc(50vw - 73px);
        bottom: 100px;
    }
}

.textBox__text {
    position: absolute;
    top: 58px;
    margin-left: 74px;
    margin-right: 74px;
}

.tentDiv {
    position: relative;
    margin-top: 24px;
    width: 100%;
    border-radius: 50vw 50vw 0px 0px;
    overflow: hidden;
}

.tentDiv__img {
    height: 66vw;
    width: 100%;

    img {
        width: 100%;
        height: auto;
    }
}

.tentDiv__info {
    width: 90%;
    margin: 20px 5% 85px;
    padding-top: 72px;
    border-radius: 50vw 50vw 0px 0px;
    padding-bottom: 24px;
    background-color: var(--white);

    hr {
        margin: 41px 5%;
    }
    
    h1 {
        color: var(--black);
        text-align: center;
    }

    .book {
        position: relative;
        left: calc(50% - 73px);
    }
}

.tentDiv__facilities {
    display: grid;
    grid-template-areas: 
    'text text text'
    '1fr 1fr'
    '1fr 1fr'
    '1fr 1fr'
    '1fr 1fr';
    padding: 0 5% 55px;

    p {
        grid-area: text;
        margin-left: 0;
        margin-right: 0;
    }

    div {
        font-family: Aeonik, Arial, Helvetica, sans-serif;
        font-size: 1rem;
        margin-bottom: 20px;
    }
}

.tentDiv#silva {
    background-color: var(--silva-color);
}

.tentDiv#aqua {
    background-color: var(--aqua-color);
}

.tentDiv#terra {
    background-color: var(--terra-color);
}

.tentDiv#caelum {
    background-color: var(--caelum-color);
}

.facilityButton {
    width: 312px;
    height: 50px;
    border-radius: 8px;
    background-color: var(--terra-color);
    border: none;
    color: var(--white);
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    left: calc(50% - 156px);

}

.facilityList {
    width: 90%;
    margin: 20px 5% 85px;
    padding-top: 72px;
    border-radius: 50vw 50vw 0px 0px;
    padding-bottom: 20px;
    background-color: var(--background-color);
}

.contactDiv {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    min-height: 60px;
    min-width: 373px;
    background-color: var(--header-color);
    margin-bottom: 24px;

    a {
        color: var(--white);
    }
}

.contactDiv#right {
    border-radius: 162px 0px 0px 162px;
    padding: 20px 5% 20px 20px;
    margin-left: 5%;
}

.contactDiv#left {
    border-radius: 0px 162px 162px 0px;
    padding: 20px 20px 20px 5%;
    margin-right: 5%;
    justify-content: flex-end;
}

.contactDiv__img {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    overflow: hidden;

    img {
        height: 100%;
        max-height: 200px;
        width: auto;
    }
}

.contactDiv__info {
    p {
        color: var(--white);
        line-height: 200%;
    }
}