:root{
    --background-color: #FFF8E7;
    --silva-color: #8F9371;
    --terra-color: #cc7f52;
    --aqua-color: #769299;
    --caelum-color: #B47278;
    --block-color: #394D44A8;
    --header-color: #394D44;
}

body {
    margin: 0;
}

header {
    position: sticky;
    background-color: var(--header-color);
    height: 68px;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

main {
    background-color: var(--background-color);
    margin: 0;
}

.hero {
    width: 100%;
    height: 664px;
    background-image: url(img/hero/hero_index.jpg);
    
    background-repeat: no-repeat;
}

.hero__textbox {
    position: absolute;
    box-sizing: border-box;
    height: fit-content;
    width: 95%;
    min-height: 60px;
    min-width: 373px;
    background-color: var(--block-color);
    border-radius: 0px 162px 162px 0px;
    padding: 30px 58px 20px 0px;
    top: 20px;
}